.Slide3 {
    background-color: rgb(255, 255, 255); 
    min-height: 100vh; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .krishisetu-container {
    display: flex;           
    align-items: center;    
    margin-left: 30px;      
  }
  
  .main-circle {
    width: 70px;              
    height: 70px;
    background-color: cyan;  
    border-radius: 50%;     
    border: 2px solid black;
    margin-top: 30px;
    margin-right: 10px;        
    background-image: url('https://i.imgur.com/791uIme.jpeg');
    background-size: 90px;
    background-position: center;
  }
  
  .krishisetu {
    color: black; 
    text-align: left; 
    font-size: 40px; 
    margin-top: 55px; 
  }
  
  .heading {
    color: rgba(0, 248, 25, 0.75);
    font-weight: bold;  
    font-size: 40px;
    text-align: center;
    margin-top: 100px; 
    cursor: default;
  }
  
  .account {
    color: black;
    font-weight: bold;  
    font-size: 20px;
    text-align: center;
    margin-top: 5px; 
    cursor: pointer;
  
  }
  
  .rectangle1 {
    width: 400px;               
    height: 50px;               
    background-color: rgb(255, 255, 255);     
    margin: 20px auto;    
    border: 3px solid gray;       
    border-radius: 50px;            
  }
  
  .input-placeholder {
    width: 100%; 
    height: 100%; 
    border: none; 
    outline: none;
    flex: 2;
    font-size: 16px;  
    line-height: 50px;
    padding: 0 15px; 
    border-radius: 50px; 
    box-sizing: border-box; 
  }
  
  
  .input-placeholder::placeholder {
    color: gray; 
    opacity: 1; 
    font-size: 18px;
  }
  
  
  .small-rectangle-container {
    display: flex;                
    justify-content: center;      
    margin-top: 10px;            
  }
  
  .rectangle2 {
    width: 190px;                
    height: 50px;                
    background-color: rgb(255, 255, 255);     
    margin: 0 3px;              
    border: 3px solid gray;       
    border-radius: 50px;         
  }
  
  .rectangle3 {
    width: 400px;               
    height: 50px;               
    background-color: rgba(0, 248, 25, 0.75);     
    margin: 20px auto;          
    border-radius: 50px;        
  }
  
  .rectangle3-input {
    width: 100%;                 
    height: 100%;                
    border: none;              
    background: transparent; 
    text-align: center;          
    font-size: 18px;             
    color: white;               
    outline: none;           
    cursor: pointer;
  }
  
  .rectangle3-input::placeholder {
    color: white;          
    font-weight: bold;       
  }
  
  
  .navbar2 {
  
    padding: 10px 20px;          
    position: fixed;        
    top: 0;
    right: 0;
    width: 100%;                 
    z-index: 1000;           
  }
  
  
  .nav-links {
    list-style: none;          
    margin: 5;
    padding: 0;
    display: flex;               
    justify-content: flex-end;  
    align-items: center;     
  }
  
  
  .nav-links li {
    margin-left: 20px;          
  }
  
  
  .nav-links li a {
    color: black;    
    text-decoration: none; 
    font-size: 15px;            
    font-weight: bold;      
    padding: 8px 16px;          
    border-radius: 5px;        
  }
  
  .nav-links li a:hover {
    text-decoration: underline;
    outline: black;
  }